<div class="content">
  <div class="products">
    <div class="section-header">
      <h1>Products</h1>
      <div *ngIf="cart.getCartTotal() > 1000" class="discount">Discount!</div>
    </div>
    <div class="product-listing">
      <gh-product *ngFor="let product of products" [product]="product" (addToCartClicked)="addToCart($event)">
      </gh-product>
    </div>
  </div>
  <div class="cart">
    <h1 class="section-header">Cart</h1>
    <div class="checkout">
      <a [routerLink]="['/checkout']" class="button-cta">Checkout</a>
    </div>
    <gh-cart #cart></gh-cart>
  </div>
</div>