p {
  margin: 0;
}

.button {
  color: #555;
  padding:10px;
  font-size:14px;
  border: none;
  cursor: pointer;
}

.button:hover {
  color: #1E9CD8;
}

.button-cta {
  background-color: #1E9CD8;
  color: white;
  padding:10px;
  font-size:14px;
  border: none;
  cursor: pointer;
}

.button-cta:hover {
  color: rgb(186, 223, 240);
}

.section-header {
  display: flex;
  justify-content: center;
  background-color: #f7f5f5;
  padding: 10px;
  margin-bottom: 0;
}
