
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.button-cta {
  background-color: #1E9CD8;
  color: white;
  padding:10px;
  font-size:14px;
  border: none;
  cursor: pointer;
}

.button-cta:hover {
  color: rgb(186, 223, 240);
}